<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <queries>
        <package android:name="com.microsoft.teams" />
        <package android:name="com.microsoft.skydrive" />
        <package android:name="com.microsoft.office.word" />
        <package android:name="com.microsoft.office.excel" />
        <package android:name="com.microsoft.office.powerpoint" />
        <package android:name="com.microsoft.sharepoint" />
        <package android:name="com.microsoft.todos" />
        <package android:name="com.azure.authenticator" />
        <package android:name="com.microsoft.windowsintune.companyportal" />
    </queries>

    <application
        android:name=".AutoLoginApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AutoLogin">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AutoLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.microsoft.identity.client.BrowserTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="com.autologin.app"
                    android:path="/TDPWfC9supht4/c0hKDPvlzj+O8="
                    android:scheme="msauth" />
            </intent-filter>
        </activity>

    </application>

</manifest>
